/* Smartphone */
@media all and (max-width: 670px) {
  /* Header */
  .header-righ {
    display: none;
  }

  /* Banner */
  .top-wrapper {
    text-align: left;
  }

  /* Content */
  .content-x1 {
    width: 100%;
  }

  .content-x2 {
    width: 100%;
  }

  /* contact */
  .contact-form {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .contact-form-input {
    width: 100%;
    padding-right: 0;
  }
  .contact-form-info {
    width: 100%;
    padding: 0;
  }

  /* Footer */
  .content-x1 {
    text-align: center;
  }
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}
